@tailwind base;
@tailwind components;
@tailwind utilities;

/* GENERAL */
.glowing-text {
  text-shadow: 0 0 10px hsla(0, 0%, 100%, 0.5), 0 0 20px hsla(0, 0%, 100%, 0.2);
}

/* NAVBAR */
.hamburger-line {
  @apply w-[34px] h-[4px] my-2 block rounded-md transition duration-300 ease-in-out bg-black group-hover:bg-slate-700;
}

.hamburger-active > span:nth-child(1) {
  @apply translate-y-[12px] rotate-[225deg];
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
  @apply -translate-y-[12px] -rotate-[225deg];
}

.navbar-blur {
  @apply bg-opacity-90;
  @media (min-width: 1024px) {
    backdrop-filter: blur(2px);
  }
}

@media (min-width: 1024px) {
  .lg\:navbar-blur-none {
    @apply bg-opacity-100;
    backdrop-filter: none;
  }
}

/* HOME */
.socmed-button {
  @apply absolute w-[20%] aspect-square bg-slate-900 rounded-[20%] shadow-md z-10 hover:drop-shadow-2xl hover:scale-110 transition duration-200 ease-in-out active:bg-slate-800 active:transition-none;
}

.anchor {
  @apply w-full font-semibold text-background bg-slate-900 py-3 rounded-full hover:shadow-lg hover:bg-slate-800 transition duration-300 ease-in-out sm:px-8;
}

/* EDUCATION */
.education-cell {
  @apply h-full flex flex-col max-h-fit w-full bg-slate-900 rounded-[16px] hover:bg-slate-800 transition-all duration-300;
}

/* EXPERIENCE */
.experience-cell {
  @apply flex flex-col items-end w-auto h-full hover:scale-[104%] md:hover:scale-[101%] origin-center active:scale-95 md:active:scale-[98%] transition;
}
