@tailwind base;
@tailwind components;
@tailwind utilities;

/* GENERAL */
.glowing-text {
  text-shadow:
    0 0 10px hsla(0, 0%, 100%, 0.5),
    0 0 20px hsla(0, 0%, 100%, 0.2);
}

.dark\:glowing-text:is(.dark *) {
  text-shadow:
    0 0 10px hsla(0, 0%, 100%, 0.5),
    0 0 20px hsla(0, 0%, 100%, 0.2);
}

/* NAVBAR */
.hamburger-line {
  @apply my-2 block h-[4px] w-[34px] rounded-md bg-slate-900 transition duration-300 ease-in-out group-hover:bg-slate-700 dark:bg-white dark:group-hover:bg-slate-200;
}

.hamburger-active > span:nth-child(1) {
  @apply translate-y-[12px] rotate-[225deg];
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
  @apply -translate-y-[12px] -rotate-[225deg];
}

/* HOME */
.socmed-button {
  @apply absolute z-10 aspect-square w-[20%] rounded-[20%] bg-slate-900 shadow-md transition duration-200 ease-in-out hover:scale-110 hover:drop-shadow-2xl active:bg-slate-800 active:transition-none dark:bg-white dark:active:bg-slate-100;
}

.anchor {
  @apply w-full rounded-full bg-slate-900 py-3 font-semibold text-white transition duration-300 ease-in-out hover:bg-slate-800 hover:shadow-lg dark:bg-white dark:text-slate-950 dark:hover:bg-slate-300 sm:px-8;
}

/* EDUCATION */
.education-cell {
  @apply flex h-fit w-full flex-col rounded-[16px] bg-slate-900 transition hover:bg-slate-800 dark:bg-white dark:hover:bg-slate-300;
}

/* EXPERIENCE */
.experience-cell {
  @apply flex h-full w-auto origin-center flex-col items-end text-slate-900 transition duration-300 hover:scale-[104%] active:scale-95 dark:text-white md:hover:scale-[101%] md:active:scale-[98%];
}

/* PROJECTS */

.project-list {
  @apply flex snap-x snap-mandatory gap-[1.5rem] overflow-x-auto;
  -webkit-overflow-scrolling: touch;
}

.project-list > li {
  flex: 0 0 auto;
  scroll-snap-align: start;
  width: 100%; /* adjust the width as needed */
}

.project-list::-webkit-scrollbar {
  @apply hidden;
}

.project-indicator {
  @apply mx-1 aspect-square w-2 rounded-full bg-slate-900 transition duration-300 dark:bg-white lg:mx-1.5 lg:w-2.5;
}
